<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebBanLaptop_Project</display-name>
  <servlet>
    <servlet-name>Asus</servlet-name>
    <servlet-class>Controller.LoadSPAsus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asus</servlet-name>
    <url-pattern>/laptop-asus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadSP</servlet-name>
    <servlet-class>Controller.LoadSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadSP</servlet-name>
    <url-pattern>/sanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Controller.InsertSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/insertSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSP</servlet-name>
    <servlet-class>Controller.DeleteSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSP</servlet-name>
    <url-pattern>/deleteSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadNV</servlet-name>
    <servlet-class>Controller.LoadNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNV</servlet-name>
    <url-pattern>/nhanvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertNV</servlet-name>
    <servlet-class>Controller.InsertNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNV</servlet-name>
    <url-pattern>/insertNV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNV</servlet-name>
    <servlet-class>Controller.DeleteNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNV</servlet-name>
    <url-pattern>/deleteNV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadKH</servlet-name>
    <servlet-class>Controller.LoadKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadKH</servlet-name>
    <url-pattern>/khachhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertKH</servlet-name>
    <servlet-class>Controller.InsertKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertKH</servlet-name>
    <url-pattern>/insertKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteKH</servlet-name>
    <servlet-class>Controller.DeleteKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKH</servlet-name>
    <url-pattern>/deleteKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadHD</servlet-name>
    <servlet-class>Controller.LoadHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHD</servlet-name>
    <url-pattern>/hoadon</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertHD</servlet-name>
    <servlet-class>Controller.InsertHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertHD</servlet-name>
    <url-pattern>/insertHD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteHD</servlet-name>
    <servlet-class>Controller.DeleteHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHD</servlet-name>
    <url-pattern>/deleteHD</url-pattern>
  </servlet-mapping>
</web-app>